<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tss.cryptinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CryptInfoApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".actvities.AssetsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".actvities.AssetDetailsActivity"
            android:parentActivityName=".actvities.AssetsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".api.sync.AssetSyncIntentService"
            android:exported="false" />

        <provider
            android:name=".api.data.AssetProvider"
            android:authorities="com.xiongxh.cryptocoin"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".api.sync.AssetTaskService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".api.sync.DetailIntentService"
            android:exported="false" />
        <service
            android:name=".api.sync.DetailTaskService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".views.WidgetRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".views.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/coin_widget_provider_info" />
        </receiver>

        <activity android:name=".actvities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>